<h1>Bienvenue sur le Redico !</h1>

<p class="lead">
  Consultez la liste des derniers <strong>Redico</strong>, Vous pouvez participer, ou en créer un nouveau, bonne
  visite !
</p>

<hr/>

<div class="row">
  <%= render @topics %>
</div>
